[submodule "vendor/cglm"]
	path = vendor/cglm
	url = https://github.com/recp/cglm.git
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/fluidsynth"]
	path = vendor/fluidsynth
	url = https://github.com/FluidSynth/fluidsynth.git
[submodule "vendor/SDL_mixer"]
	path = vendor/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
